#video-call-navbar {
    height: 64px;
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-icons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 64px;
}

.header-icons > img {
    margin-left: 24px;
    width: 24px;
}

.header-icons > img:first-child {
    margin-left: 0;
}